.w-full
  .flex.justify-between.items-center
    %h1.font-bold.text-4xl Notes
    - if @notable.present?
      = render Common::Element::ButtonComponent.new(label: "New", path: [:new, @notable, :note])
  #notes.min-w-full
    = render Note::ListComponent.new(notes: @notes)
