.w-full
  - if notice.present?
    %p#notice.py-2.px-3.bg-green-50.mb-5.text-green-500.font-medium.rounded-lg.inline-block= notice
  .flex.justify-between.items-center
    %h1.font-bold.text-4xl Notes
    = render Common::ButtonComponent.new(label: "New", path: [:new, @notable, :note])
  #notes.min-w-full
    = render "list", notes: @notes
