.m-auto{ class: "lg:w-1/2 md:w-3/4" }
  = render(Primer::Beta::Heading.new(tag: :h1)) { "New Note" }
  .card= render @note.notable
  %turbo-frame{:id => "new_note"}
    = render Note::FormComponent.new(note: @note)