.m-auto{ class: "lg:w-1/2 md:w-3/4" }
  = render(Primer::Beta::Heading.new(tag: :h1)) { "New Task" }
  .card= render @task.taskable
  %turbo-frame{:id => "#{dom_id @task}" }
    = render "form", task: @task
