.m-auto{ class: "lg:w-1/2 md:w-3/4" }
  = render Common::Layout::TitleComponent.new(title: "New Task", priority: 1)
  .card= render @task.taskable
  %turbo-frame{:id => "#{dom_id @task}" }
    = render "form", task: @task
