- if resource.errors.any?
  %div{:style => "color: red"}
    %h2
      = pluralize(resource.errors.count, "error")
      prohibited this from being saved:
    %ul
      - resource.errors.each do |error|
        %li= error.full_message
