- if resource.errors.any?
  .card.bg-red-900.text-gray-400
    %h2
      = pluralize(resource.errors.count, "error")
      prohibited this from being saved.
    .hidden
      %ul
        - resource.errors.each do |error|
          %li= error.full_message
