= simple_form_for [@metric.move, @metric], data: { turbo_frame: dom_id(@metric) } do |form|
  = render Common::Form::ErrorsComponent.new(form: form)
  
  .flex
    .w-64
      = form.input :name, label: false, input_html: { class: :inline }
    .w-64
      = render(Primer::Beta::Button.new(scheme: :primary, type: :submit)) { "Save"}
