%span.breadcrumb.text-xs.mb-2.pb-1
  - breadcrumb_trail.with_index do |crumb, index|
    %span.breadcrumb-item{class: crumb.current? ? "active" : "" }
      - if index > 0
        = heroicon "chevron-right", size: 16, class: "pb-0.5 inline text-slate-300"
      %span{ class: crumb.current? ? "font-semibold" : "" }
        = link_to_unless crumb.current?, crumb.name, crumb.url, (crumb.current? ? {"aria-current": "page"} : {})

.border.border-slate-400.mt-1.mb-4      
