.float-right
  = render Common::Element::ButtonComponent.new(label: "New", path: [:new, :move], icon: :plus)
= render Common::Layout::TitleComponent.new(title: "Moves (#{@moves.count})")


%turbo-frame#moves{ data: { target: :_top } }
  #moves.container.m-auto.grid.grid-cols-1
    - @moves.each do |move|
      .p-6.m-2.bg-white.border.border-gray-200.rounded-lg.shadow.dark:bg-gray-800.dark:border-gray-700.mb-4
        = render move
