%turbo-frame{ id: dom_id(@move) }
  .container
    = render(Primer::Beta::Heading.new(tag: :h1)) { "New Move" }
    .card
      %turbo-frame{:id => "new_move", target: :_top}
        = render "form", move: @move