.m-auto{ class: "lg:w-1/2 md:w-3/4" }
  = render Common::Layout::TitleComponent.new(title: "New Move", priority: 1)
  .card
    %turbo-frame{:id => "new_move", target: :_top}
      = render "form", move: @move