.w-full
  .flex.justify-between.items-center
    %h1.font-bold.text-4xl Documents
    = link_to "New document", new_document_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
  #documents.min-w-full
    = render @documents
