%p{:style => "color: green"}= notice
.flex.mb-2
  %h1.grow Companies
  .new
    = link_to [:new, :company], data: { turbo_frame: dom_id(Company.new) } do
      = render(Primer::Beta::Button.new(scheme: :primary, type: :button)) { "New"}

%turbo-frame{ id: dom_id(Company.new) }

%turbo-frame#companies
  = render "list"
