%p{:style => "color: green"}= notice
%h1 Companies
#companies
  - @companies.each do |company|
    = render company
    %p
      = link_to "Show this company", company
= link_to "New company", new_company_path
