%h1 Editing opportunity
.w-96.m-auto= render "form", opportunity: @opportunity
%br/
%div.text-xs
  = link_to "Show this opportunity", @opportunity
  |
  = link_to "Back to opportunitiess", [:opportunities]
