%p{:style => "color: green"}= notice
.float-right
  = render Common::ButtonComponent.new(label: "New", path: [:new, :opportunity])
%h1.text-2xl.font-bold.mb-4 Opportunities (#{@opportunities.count})
.mb-4
#opportunities.container.m-auto.grid.grid-cols-1.md:grid-cols-4.gap-4
  - @opportunities.each do |opportunity|
    .max-w-sm.p-6.m-2.bg-white.border.border-gray-200.rounded-lg.shadow.dark:bg-gray-800.dark:border-gray-700.mb-4
      = render opportunity