%turbo-frame{:id => "#{dom_id @opportunity}" }
  .m-auto{ class: "lg:w-1/2 md:w-3/4" }
    = render(Primer::Beta::Heading.new(tag: :h1)) { "New Opportunity" }

    = render "form", opportunity: @opportunity
