= form_with(model: daily_opportunity_stat, class: "contents") do |form|
  = render Common::Form::ErrorsComponent.new(form: form)

  .inline
    = form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer"
